body {
    background-color: #faf2f0;
    margin: 8vw;
    text-align: center;
  }

  h1 {
  margin: 20px;
  color: rgba(39,25,22,.8);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 5vw;
  }